.content{
    width: 100%;
    background: #40454e;
}
.content_center{
    width: 1200px;
    height: 725px;
    margin: 0 auto;
}
.content_center_img{
    width: 1200px;
    height: 660px;
    margin-top: 70px;
}
.content_center_shuzi{
    width: 1000px;
    height: 65px;
    line-height: 65px;
    text-align: center;
}
.left_img{
    width: 1000px;
    height: 660px;
    float: left;
}
.left_image{
    width: 100%;
    height: 100%;
}
.right_img{
    width: 130px;
    height: 660px;
    float: right;
    overflow: hidden;
}
.fanhui,.top_banner,.bottom_banner{
    width: 130px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}
.fanhui{
    background: #4aa313;
    margin-bottom: 10px;
}
.fanhui_img{
    width: 16px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.fanhui_txt{
    font-size: 14px;
    color: #fff
}
.top_banner,.bottom_banner{
    background: rgba(255,255,255,.1); 
}
.top_banner:hover{
    background: #4aa313;
}
.bottom_banner:hover{
    background: #4aa313;
}
.top_img,.bottom_img{
    width: 20px;
    height: 14px;
    display: inline-block;
}
.banner_img{
    width: 130px;
    height: 480px;
    overflow: hidden;
    margin: 20px 0;
}
.banner_box{
    width: 130px;
    transition: all 1s;
}
.banner_box_img{
    width: 130px;
    height: 108px;
    margin-bottom: 17px;
}
.banner_box_img:nth-last-of-type(1){
    margin-bottom: 0;
}
.shuzi_left{
    color: #4aa313;
    font-size: 14px;
}
.shuzi_right,.shuzi_fenge{
    color: #fff;
    font-size: 14px;
}
.banner_box_img:nth-of-type(1){
    border: 1px solid #4aa313
}