.content{
    width: 100%;
    background: #f4f4f4;
}
.top_content{
    height: 300px;
}
.top_content_border{
    width: 1920px;
    position: absolute;
    bottom: 0;
    left: -360px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.content_top_img{
    height: 368px;
}
.top_content_sousuo{
    width: 1022px;
    height: 104px;
    margin: 0 auto;
    position: absolute;
    top: 140px;
    left: 450px;
}
.suosou{
    width: 100%;
    height: 66px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.3)
}
.sousuo_text{
    width: 936px;
    height: 50px;
    padding-left: 20px;
    border: 0;
    outline: none;
    background: rgba(0,0,0,0);
    float: left;
    margin-top: 8px;
    font-size: 14px;
    color: #333;
}
.sousuo_img{
    cursor: pointer;
    width: 28px;
    height: 28px;
    float: right;
    margin: 17px 20px 0 0;
}
.resou{
    font-size: 14px;
    margin-top: 20px; 
    color: #fff;
}
.resou_text{
    color: #fff;
    margin-left: 13px;
}
.resou a:nth-of-type(1) .resou_text{
    margin-left: 0;
}
/* 主体 */
.content{
    width: 1920px;
}
.center_classify{
    width: 1200px;
    height: 722px;
    position: relative;
    top: -63px;
    margin: 0 auto;
}
.center_classfiy_left{
    background: #fff;
    width: 335px;
    height: 100%;
    float: left;
    box-shadow: 0px 0px 8px rgba(0,0,0,.2);
    border-radius: 5px;
    overflow: hidden;
}
.center_classfiy_center{
    background: #fff;
    width: 490px;
    height: 100%;
    float: left;
    margin: 0 20px;
    box-shadow: 0px 0px 8px rgba(0,0,0,.2);
    border-radius: 5px;
    overflow: hidden;
}
.center_classfiy_right{
    background: #fff;
    width: 335px;
    height: 100%;
    float: left;
    box-shadow: 0px 0px 8px rgba(0,0,0,.2);
    border-radius: 5px;
    overflow: hidden;
}
.title{
    width: 100%;
    height: 62px;
    background: #d4e8c5;
    overflow: hidden;
    border-bottom: 1px solid #ececeb;
    margin-bottom: 24px;
}
.title_txt{
    width: 100%;
    height: 56px;
    margin-top: 6px;
    background: #fff;
}
.title_img{
    width: 20px;
    height: 24px;
    vertical-align: middle;
    margin: 13px 10px 0 22px;
    float: left;
}
.title_txt_p{
    float: left;
    margin-top: 15px; 
    color: #4aa313;
}
/* 最新 */
.newest{
    width: 290px;
    height: 185px;
    margin-left: 22px;
    margin-bottom: 23px;
    
}
.newest:hover .newest_text{
    color: #4aa313;
}
.newest:hover .newest_img{
    width: 310px;
    height: 166px;
    margin: -8px 0 0 -10px;  
   
}
.newest_img_box{
    overflow: hidden;
}
.newest_img,.newest_img_box{
    width: 290px;
    height: 150px; 
    transition: all .2s;
}
.newest_text{
    font-size: 16px;
    color: #333;
    margin-top: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    transition: all .2s;
}
.host{
    width: 200px;
    height: 153px;
    float: left;
    margin-left: 30px;
}
.host_text{
    font-size: 16px;
    color: #333;
    margin-top: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    transition: all .2s;
}
.host:hover .host_text{
    color: #4aa313;
}
.host:hover .host_img{
    width: 220px;
    height: 121px;
    margin:-8px 0 0 -10px;
}
.host_img_box,.host_img{
    width: 200px;
    height: 105px;
    overflow: hidden;
    transition: all .2s;
}
/* 药材动态 */
.dynamic{
    width: 100%;
    height: 460px;
    background: #fff;
    overflow: hidden;
}
.dynamic_content{
    width: 1200px;
    height: 425px;
    margin: 40px auto 0;
    overflow: hidden;
}
.dynamic_content_list,dynamic_content_ul,dynamic_li,dynamic_title{
    width: 410px;
}
.dynamic_content_list{
    float: left;
}
.dynamic_content_swiper{
    float: right;
    width: 727px;
    height: 346px;
}
.dynamic_content_img{
     width: 727px;
    height: 346px;
}
.dynamic_title{
    height: 37px;
    border-bottom: 1px solid #cccccc;
}
.dynamic_title_name{
    font-size: 18px;
    color: #333;
    float: left;
}
.dynamic_title_gengduo{
    font-size: 16px;
    color: #999;
    float: right;
}
.dynamic_title_gengduo:hover{
    color: #4aa313;
}
.dynamic_li{
    padding: 11px 0;
    cursor: pointer;
}
.dynamic_content_ul a:nth-last-of-type(1) .dynamic_li{
    border-bottom: none;
}
.dynamic_li{
    border-bottom: 1px dashed #cccccc;
}
.dynamic_li_quan{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background: #6cbb3d;
    display: inline-block;
    margin-right: 10px;
    border-radius: 100%;
}
.dynamic_li_text{
    font-size: 15px;
    color: #333;
}
.dynamic_li_time{
    float: right;
    font-size: 13px;
    color: #999;
}
.dynamic_li:hover .dynamic_li_text{
    color: #4aa313
}
.dynamic_li:hover .dynamic_li_time{
    color: #4aa313
}
.dynamic_li_div{
    margin-bottom: 11px;
}
.dynamic_li_p{
    height: 50px;
    line-height: 24px;
    font-size: 12px;
    color: #666;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
    left: 272px;
}
.swiper-pagination-bullet{
    width: 17px;
    height: 6px;
    border-radius: 6px;
    background: rgba(255,255,255,0.5);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    width: 37px;
    background: rgba(255,255,255,1)
}