.content{
    width: 1200px;
    margin: 0 auto;
}
/* 左侧 */
.content_left{
    width: 818px;
    float: left;
    padding: 20px 0;
}
.content_journalism_list{
    width: 100%;
    height: 142px;
    padding: 20px 0;
    border-bottom: 1px solid #e7e7e7; 
    cursor: pointer;
}
.content_journalism_list:hover .content_journalism_txt_p1{
    color: #4aa313;
}
.content_journalism_list:hover{
    background: #f9f9f9;
}
.content_journalism_img{
    float: left;
    width: 248px;
    height: 100%;
}
.content_journalism_txt{
    float: left;
    padding-left: 20px;
    width: 547px;
    height: 100%;
}
.content_journalism_txt:hover{
    background: #f9f9f9
}
.content_journalism_txt_p1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    color: #2c303e;
}
.content_journalism_txt_p2{
    width: 100%;
    height: 63px;
    margin: 16px 0 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 13px;
    color: #666;
    line-height: 22px;
}
.content_journalism_txt_p3{
    font-size: 12px;
    color: #999;
}
.content_journalism_txt_p3_span{
    color: #108ee9;
    margin-right: 2px;
}
.content_journalism_txt_p3_span1{
    margin-left: 2px;
}
.content_see_more{
    width: 100%;
    padding-top: 40px;
}
.content_see_more_button{
    width: 176px;
    height: 40px;
    border: 1px solid #108ee9;
    font-size: 16px;
    color: #108ee9;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    border-radius: 40px;
    cursor: pointer;
}
.content_left_list_li{
    color: #fff !important;
    background: #3488ea !important;
}
/* 右侧 */
.content_right{
    width: 313px;
    display: inline-block;
    float: right;
    margin-top: 40px;
}
.new_look{
    margin-bottom: 30px;
    text-align: center;
    width: 333px;
    background: #f9f9f9
}
.new_look_bottom{
    width: 100%;
}
.newLook_txt p{
    width:286px;
    font-size:13px;
    color: #333;
    line-height:24px;
    margin: 0 auto;
}
.new_look_bottom img{
    width: 286px;
    margin: 0 0 20px 23px;
}
.newLook_img1{
    margin-top: 20px !important;
}
.new_look{
    margin-bottom: 30px;
}

.new_look_h4_span{
    height: 16px;
}
.new_look{
    width: 333px;
    background: #f9f9f9;
}
/* title */
.new_look_h4{
    width: 290px;
    margin: 0 auto;
    height: 62px;
    line-height: 62px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    color: #333;
    border-bottom:1px solid #e7e7e7;
}
.new_look_h4 h4{
     font-weight: 500;
     width: 150px;
    overflow: hidden;
}
.new_look_h4_span{
    height: 24px;
    border-left: 3px solid #4aa313;
    display: inline-block;
    margin-right: 10px;
}
/* ul */
.new_look_ul{
    width: 100%;
}
.new_look_ul_li {
    width: 290px;
    height: 88px;
    padding: 21px 0 22px 0;
    border-top: 1px dashed #d3d3d3;
    margin: 0 auto;
    cursor: pointer;
}
.new_look_divRight{
    width: 92%;
    float: left;
}
.new_look_ul_li:hover .new_look_divRight_p1{
    color:#4aa313;
}
.new_look_ul a:nth-of-type(1) .new_look_ul_li {
    border:none;
}

.new_look_divLeft {
    width: 22px;
    position: relative;
    height: 22px;
    display: inline-block;
    float: left;
}

.new_look_divLeft div {
    position: absolute;
    top: 14px;
    left: 2px;
    padding: 2px;
    border-radius: 50%;
    background: #dbdbdb;
}

.new_look_divRight_p1 {
    height: 60px;
    font-size: 16px;
    color: #333;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
}

.new_look_divRight_p2 {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    text-align: left;
}



.new_look_divRight_p2 span:nth-child(2) {
    padding-left: 15px;
}
.content_dynamic:nth-last-of-type(1) .content_journalism_list{
    border-bottom: none;
}
